# Ignore CPH problem files
.cph/

# Ignore compiled binaries and object files
*.exe
*.out
*.o
*.txt

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
